$heade-color: #025C87;
$green-button: hsl(96, 57%, 47%);

$text-color: #5E6C79;



// obama project
$dark-color: #3c3c3c;
$dark-color-hover: #474747;
$green-hover-color: #5BB4B3;
$purple-hover-color: #323473;
$purple-color: #26254C;
$blue-button: #29abe2;
$yellowish-hover-color: #A3D7AC;
$white-color: #fff;
$light-grey: #e5e5e5;
$grey: grey;
$hover-black-color: #3C3C3C;
$cards-bg-color: #F5F8F8;


$font-family: gotham ssm a,gotham ssm b,helvetica neue,Helvetica,Arial,sans-serif;

$font-family-secondary: Maitree,Georgia,serif;


$font-family-cardstitle: gotham ssm a,gotham ssm b,helvetica neue,Helvetica,Arial,sans-serif;
